<div class="card">
  <div class="card-header">
    <h1>Profile</h1>
  </div>
  <div class="card-body">
    <div *ngIf="currentUser">
    <div class="user-info">
      <div>
        <img [src]="currentUser.picture.large" alt="User Image">
      </div>
      <div>
      <strong>Name:</strong> {{ currentUser.name.first }} {{ currentUser.name.last }}
      </div>
      <div>
      <strong>Email:</strong> {{ currentUser.email }}
      </div>
      <div>
      <strong>Gender:</strong> {{ currentUser.gender }}
      </div>
      <div>
      <strong>Location:</strong> {{ currentUser.location.city }}, {{ currentUser.location.country }}
      </div>
      <div>
      <strong>Phone:</strong> {{ currentUser.phone }}
      </div>
      <div>
      <strong>Registered:</strong> {{ currentUser.registered.date | date }}
      </div>
    </div>
    </div>
    <div *ngIf="!currentUser">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
