@import "../../../styles/variables.module.scss";

.user-info {
  background-color: $backgroundColor;
  border: 1px solid $secondaryBtnBorderColor;
  border-radius: $border-radius;
  padding: $spacing-xs;
  box-shadow: $box-shadow;
}
