@import "../../styles/main.module.scss";

html,
body {
  overflow-x: hidden;
}

section {
  margin-top: $spacing-s;
  margin-bottom: $spacing-s;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-xs;
  max-width: 130em;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  body {
    padding: $spacing-s;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  body {
    position: relative;
    padding: $spacing-s;
    margin-top: 0px;
    justify-content: center;
  }
}
