@import "../../../styles/main.module.scss";

.friends-list-container {
  height: 670px;
  overflow-y: auto;
  border: 1px solid $secondaryBtnBorderColor;
  border-radius: $border-radius;
}

.friend-card {
  display: flex;
  align-items: center;
  padding: $spacing-s;
  border: 1px solid $secondaryBtnBorderColor;
  border-radius: $border-radius;
  background-color: $backgroundColor;
}

.friend-card img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: $spacing-s;
}

.friend-card .name {
  font-weight: bold;
}

.friend-card .status {
  color: #888;
}

.friend-description {
  display: flex;
  flex-direction: column;

  p,
  h3 {
    margin: 0;
  }
}

// Hover animations friend-card
.friend-card:hover {
  animation-duration: 600ms;
  animation-name: fadeIn;
  background-color: darken($backgroundColor, 15%);
}

.friend-card:not(:hover) {
  animation-duration: 600ms;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    background-color: $backgroundColor;
  }
  to {
    background-color: darken($backgroundColor, 15%);
  }
}

@keyframes fadeOut {
  from {
    background-color: darken($backgroundColor, 15%);
  }
  to {
    background-color: $backgroundColor;
  }
}

// Active animations friend-card image
.friend-card img:active {
  width: 100px;
  height: 100px;
  animation-name: increaseSize;
  animation-duration: 200ms;
}

@keyframes increaseSize {
  from {
    width: 75px;
    height: 75px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}
