// Colors
$mainColor: #ff9900;
$backgroundColor: #ffebce;
$secondaryBackgroundColor: darken($backgroundColor, 15%);

$mainTextColor: #2f281e;

$secondaryTextColor: #544837;
$linkColor: #864d29;

$secondaryBtnBorderColor: #bcd0e5;
$secondaryBtnColor: #173a56;

$featureColorA: #7752be;
$featureColorB: #fab005;
$featureColorC: #f03e3d;
$featureColorD: #4dadf7;

// Space between components & sections
$spacing-xs: 0.625rem;
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 3rem;
$spacing-xl: 4rem;

// Border radius & box shadow
$border-radius: 0.25rem;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

:export {
  main-color: $mainColor;
  background-color: $backgroundColor;
  $secondaryBackgroundColor: darken($backgroundColor, 15%);

  main-text-color: $mainTextColor;
  secondary-text-color: $secondaryTextColor;

  link-color: $linkColor;

  secondary-btn-border-color: $secondaryBtnBorderColor;
  secondary-btn-color: $secondaryBtnColor;

  feature-color-a: $featureColorA;
  feature-color-b: $featureColorB;
  feature-color-c: $featureColorC;
  feature-color-d: $featureColorD;

  spacing-xs: $spacing-xs;
  spacing-s: $spacing-s;
  spacing-m: $spacing-m;
  spacing-l: $spacing-l;
  spacing-xl: $spacing-xl;

  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
